<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <img [src]="product.linkProductImage" class="image mat-elevation-z8 ">
    </mat-drawer>
    <mat-drawer-content>
        <h1>{{product.productName}}</h1>
        <h3>Giá bán: {{product.productPrice | number: '1.0-0'}}</h3>

        <div class="input">
            <mat-form-field appearance="outline">
                <mat-label>Số lượng</mat-label>
                <input type="text" matInput [(ngModel)]="quantity">
            </mat-form-field>
        </div>

        <div class="decription">
            <h2>Thông số sản phẩm: </h2>
            <h3>Công suất: {{product.wattage}}</h3>
            <h3>Chất liệu: {{product.material}}</h3>
            <h3>Dung lượng pin: {{product.battery}}</h3>
            <h3>Kích thước pin: {{product.batterySize}}</h3>
            <h3>Thời lượng sáng: {{product.lightingTime}}</h3>
            <h3>Thời lượng sạc: {{product.chargingTime}}</h3>
        </div>
    </mat-drawer-content>
</mat-drawer-container>
<br>
<div class="boxButton">
    <button mat-stroked-button class="btnCart" (click)="addCart()">
        <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-raised-button class="btn" (click)="productOrder()">Đặt hàng</button>
</div>