<mat-toolbar class="header">
    <div class="col-2 home">
        <img class="logoImage" [src]="linkImage + 'logheader.svg'" alt="">
    </div>

    <div class="col-8 menu">
        <button mat-button class="material-icons" (click)="routerMenu('home')">
            <span>Trang chủ</span>
        </button>
        <button mat-button class="material-icons" (click)="routerMenu('info-shop')">
            <span>Giới thiệu</span>
        </button>
        <button mat-button class="material-icons" (click)="routerMenu('contact-shop')">
            <span>Liên hệ</span>
        </button>
    </div>

    <div class="col user">
        <div *ngIf="isLogin === 1">
            <button mat-button class="material-icons" (click)="routerMenu('cart')">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-button class="material-icons" aria-label="Logout" [matMenuTriggerFor]="info">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #info="matMenu" yPosition="below">
                <button mat-menu-item (click)="routerMenu('user-info')">Thông tin khách hàng</button>
                <button mat-menu-item (click)="routerMenu('order-hist')">Quản lý đơn hàng</button>
                <button mat-menu-item (click)="logout()">Đăng xuất</button>
            </mat-menu>
        </div>
        <div *ngIf="isLogin === 0">
            <span class="login" (click)="login()">Đăng nhập</span>
            <span> / </span>
            <span class="login" (click)="routerLogin('auth/signup')">Đăng ký</span>
        </div>
    </div>
</mat-toolbar>