.banner {
    height: 90%;
}

mat-tab-group {
    width: 100%;
    height: 100%;
    align-items: center;
}

.content {
    max-height: 100%;
    display: flex;
    justify-content: center;
}

::ng-deep .mat-tab-body-wrapper {
    width: 100%;
    height: 100%;
}

.bannerImg {
    width: 100%;
    height: 100%;
}

mat-sidenav-container {
    width: 100%;
}

mat-sidenav {
    width: 15%;
    padding: 15px;
}

mat-sidenav-content {
    background-color: white;
    max-height: 100%;
}

mat-form-field {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

mat-card-header {
    cursor: pointer;
}

.example-card {
    width: 85%;
    height: 85%;
    border: solid 1px;

}

.btn {
    background-color: #11bf54;
    color: whitesmoke;
    margin-left: 10px;
    float: right;
}


.boxImage {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 70%;
    cursor: pointer;
}

.image {
    width: 70%;
    height: 90%;
    margin-top: 10px;
}

.quantityStatus1 {
    background-color: #11bf54;
    padding: 5px;
    border-radius: 8px;
    color: whitesmoke;
}

.boxPage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btnPage {
    background-color: #11bf54;
    color: whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}
