.banner {
    height: 90%;
}

mat-tab-group {
    width: 100%;
    height: 100%;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
}

::ng-deep .mat-tab-body-wrapper {
    width: 100%;
    height: 100%;
}

.bannerImg {
    width: 100%;
    height: 100%;
}

.boxProductHot {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 40%;
    color: #11bf54;
    font-weight: bold;
}

.titleProductHot {
    font-size: 24px;
    color: #11bf54;
    margin: 3px;
    padding-right: 10px;
    padding-left: 10px;
}

.productHot {
    width: 80%;
}

.banner {
    cursor: pointer;
}

.example-card {
    width: 85%;
    height: 85%;
    border: solid 1px;
}

.mat-card-header {
    padding-left: 10px;
    display: block;
}


.boxImage {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    height: 70%;
    cursor: pointer;
}

.image {
    width: 70%;
    height: 90%;
    margin-top: 10px;
}

.footer {
    background-color: #424242;
    display: flex;
    align-items: center;
    height: 250px;
}


.mapouter {
    margin-right: 3%;
    margin-left: 50px;
}

mat-icon{
    color: whitesmoke;
    margin-right: 10px;
}

.address span {
    color: whitesmoke;
}
