<div class="boxTitle">
    <p class="title">Giới thiệu</p>
    <br>
    <hr>
</div>


<div class="boxContent">
    <div class="boxImage">
        <img [src]="linkImage + 'energy.svg'" alt="">
    </div>
    <br>

    <div class="content">
        <h3>
            Cửa hàng TL-Light chính thức mở bán vào ngày 18/06/2024, cửa hàng kinh doanh nhiều loại đèn năng lượng mặt
            trời: đèn trụ cổng, đèn đường, đèn pha...
            Tất cả các sản phẩm mà cửa hàng kinh doanh được cam đoan là sản phẩm chính hãng thương hiệu Mayor Wolf.
        </h3>

        <h3>
            Trong bối cảnh nguồn năng lượng hóa thạch trên toàn thế giới đang dần cạn kiệt thì năng lượng mặt trời là
            một trong số những giải pháp thay thế đáng
            tin cậy. Hiểu được điều đó, chúng tôi mang những sản phẩm năng lượng mặt trời tốt nhất nhằm phụ vụ nhu cầu
            đang dần tăng cao của mọi người.
        </h3>

        <h3>
            Đến với TL-LIGHT, chúng tôi đảm bảo quý khách sẽ có những trải nghiệm tuyệt vời nhất.
        </h3>

        <br>
        <h1>
            CỬA HÀNG ĐÈN NĂNG LƯỢNG MẶT TRỜI TL-LIGHT
        </h1>
        <h3>Email: tl.solar.light@gmail.com</h3>
        <h3>Số điện thoại/Zalo: 0394797658</h3>
        <h3>Địa chỉ: Chúc Lý, Ngọc Hòa, Chương Mỹ, Hà Nội</h3>

        <br><br>
    </div>
</div>