<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>

    <div *ngIf="action === ACTION_PRODUCT_ORDER">
        <mat-grid-list cols="2" rowHeight="3:1">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Tên người nhận</mat-label>
                    <input type="text" matInput [(ngModel)]="custName" disabled>
                </mat-form-field>
            </mat-grid-tile>
    
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Số điện thoại người nhận: </mat-label>
                    <input type="text" matInput [(ngModel)]="mobileNo" required>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
                
        <mat-form-field appearance="outline">
            <mat-label>Địa chỉ nhận hàng</mat-label>
            <input type="text" matInput [(ngModel)]="address" required>
        </mat-form-field>
    </div>

</div>

<div mat-dialog-actions align="end">
    <button mat-stroked-button class="btnNo" (click)="onNoClick()">Đóng</button>
    <button mat-raised-button (click)="onYesClick()" class="btnYes" color="primary">{{messageYes}}</button>
</div>